<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-comment-googleservices" version="0.1.0">
    <name>Hack to comment googleServices in meteor gradle build file</name>
    <description>Fixes the meteor/android error "Cannot add extension with name 'googleServices', as there is an extension already registered with that name."</description>
    <license>MIT</license>
    <keywords>cordova,meteor,android,googleservices</keywords>
    <author>Mike Cunneen - The App Workshop</author>
    <repo>https://github.com/AppWorkshop/cordova-plugin-comment-googleservices</repo>
    <engines>
        <engine name="cordova" version=">=5.4.1" />
        <engine name="cordova-ios" version=">=4.0.0" />
        <engine name="apple-ios" version=">=10.0" />
        <engine name="apple-xcode" version=">=7.2" />
    </engines>


    <platform name="android">
        <hook type="after_prepare" src="scripts/afterPrepare.js" />
    </platform>
</plugin>
