<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="meteor-ios10-csp-fix" version="0.1.0">
    <name>Meteor 1.4.1 iOS 10 CSP Fix</name>
    <description>Fixes the iOS 10 issue with websockets: "Refused to connect to wss://mydomain.com/sockjs/.../websocket because it appears in neither the connect-src directive nor the default-src directive of the Content Security Policy"</description>
    <license>MIT</license>
    <keywords>cordova,meteor,ios,ios10,csp</keywords>
    <author>Mike Cunneen - The App Workshop</author>
    <repo>https://github.com/AppWorkshop/meteor-ios10-csp-fix.git</repo>
    <engines>
        <engine name="cordova" version=">=5.4.1" />
        <engine name="cordova-ios" version=">=4.0.0" />
        <engine name="apple-ios" version=">=10.0" />
        <engine name="apple-xcode" version=">=7.2" />
    </engines>


    <platform name="ios">
        <hook type="after_prepare" src="scripts/afterBuild.js" />     
    </platform>
</plugin>
